$orange: #ea5906;
$white: #ffffff;
$max-width: 1100px;
$black: #333;

* {
  box-sizing: border-box;
}

body,html {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
  color: $black;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.header {
  background: $orange;
  color: white;
  &-container {
    display: flex;
    flex-direction: column;
    max-width: $max-width;
    min-height: 250px;
    margin: auto;
    padding: 2em 0;
    justify-content: space-between;
    position: relative;
  }
  &-title {
    margin: 0;
  }
  &-tagline {
    a {
      background: $white;
      color: $orange;
      padding: .4em;
      margin-top: 1em;
      text-decoration: none;
      display: inline-block;
    }
  }
  .robot {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.benefits {
  padding-left: 0;
  display: flex;
  max-width: $max-width;
  margin: 4em auto;
}

.benefit {
  $icon-size: 4em;
  $icon-space: $icon-size + .75em;

  list-style: none;
  flex-basis: 32%;
  padding: 1em 0 1em $icon-space;
  margin-right: 2%;

  &:last-child {
    margin-right: 0;
  }

  .icon {
    float: left;
    width: $icon-size;
    height: $icon-size;
    padding: 0;
    margin-left: -$icon-space;
    fill: $orange;
  }

  .benefit-title {
    margin-top: 0;
  }
}

.main {
  max-width: $max-width;
  margin: auto;
  margin-bottom: 4em;
  display: flex;
  &-section {
    strong {
      margin-bottom: .3em;
      display: block;
    }
    a {
      color: $orange;
      &:hover,
      &:focus {
        color: darken($orange, 10%);
      }
    }
    flex-basis: 62%;
    margin-right: 2%;
  }
  input {
    width: 100%;
    font-size: 1.2em;
    padding: .5em;
    border: 0;
    outline: 0;
    box-shadow: inset 0px 0px 3px  rgba($black, .7);
    background: rgba($black, .1);
  }
  button {
    background-color: $orange;
    border: none;
    outline: none;
    color: $white;
    display: block;
    margin-top: .5em;
    padding: .75em 1em;
    // width: 250px;
    font-size: 1em;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: lighten($orange, 10%);
    }
  }
  &-aside {
    flex-basis: 34%;
    ul {
      list-style: none;
    }
    li {
      margin-bottom: 1em;
    }
    span {
      display: block;
      font-size: .8em;
      color: rgba($black, .7);
    }
  }
}


footer {
  max-width: $max-width;
  margin: auto;
  padding-bottom: 3em;
  a {
    color: $orange;
    text-decoration: none;
  }
}
