$orange: #ea5906;
$white: #ffffff;
$max-width: 1100px;
$black: #333;
$medium: 500px;
$large: 700px;
$extralarge: 900px;
$gutter: .7em;

* {
  box-sizing: border-box;
}

body,html {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
  color: $black;

}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.header {
  background: $orange;
  color: white;
  &-container {
    display: flex;
    flex-direction: column;
    max-width: $max-width;
    padding: 2em $gutter;
    min-height: 250px;
    margin: auto;
    justify-content: space-between;
    position: relative;
  }
  &-title {
    margin: 0;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    @media (min-width: $large) {
        font-size: 4em;
    }
  }
  &-tagline {
    font-size: 1.4em;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  }

  .cta {
    text-align: center;
    a {
      background: $white;
      color: $orange;
      margin: 0 auto;
      padding: .5em 1em;
      font-size: 1.4em;
      text-decoration: none;
      display: inline-block;
      box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.12);
      &:hover,
      &:focus {
        box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.25);
      }
    }
  }
  .robot {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.benefits {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  padding: 0 $gutter;
  margin: 1em auto 0;
  @media (min-width: $medium) {
    flex-direction: row;
    margin: 3em auto 2em;
  }
}

.benefit {
  $icon-size: 4em;
  $icon-space: $icon-size + .75em;
  list-style: none;
  margin-bottom: 1em;
  margin-right: 2%;
  margin-bottom: 0;
  padding: 1em 0 1em $icon-space;

  @media (min-width: $medium) {
    flex-basis: 32%;
  }

  @media (min-width: $medium) and (max-width: $large) {
    padding: 0;
  }
  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .icon {
    float: left;
    margin-left: -$icon-space;
    @media (min-width: $medium) and (max-width: $large) {
      float: none;
      margin-left: 0;
    }
    width: $icon-size;
    height: $icon-size;
    padding: 0;
    fill: $orange;
  }

  .benefit-title {
    margin: 0;
  }

  @media (max-width: $medium) {
    .benefit-tagline {
      font-size: 1.4em;
      margin-top: .2em;
    }
  }
}

.main {
  width: 100%;
  max-width: 50em;
  padding: 0 $gutter;
  margin: 2em auto;

  border: 1px solid #eee;
  border-radius: 5px;
  padding: 1em 2em;

  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.08);

  h2, h3 {
    margin-top: 1em;
    border-bottom: 1px solid #eee;
    padding-bottom: .5em;
    width: auto;
  }

  @media (max-width: $medium) {
    font-size: 1.3em;
    h2 {
      font-size: 1.2em;
    }
  }

  strong {
    margin-bottom: .3em;
    display: block;
  }
  a {
    color: $orange;
    &:hover,
    &:focus {
      color: darken($orange, 10%);
    }
  }

  img {
    max-width: 100%;
  }

  .lessons {
    display: flex;
    list-style: none;
    color: #999;
    margin: 0 .5em;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $medium) {
      flex-direction: column;
      margin: 0;
    }

    li {
      margin: 0 0 1em;
      padding: 0;
      flex-basis: 30%;

      @media (max-width: $medium) {
        flex: 1 0 auto;
        font-size: .9em;
      }
      span {
        display: block;
        color: $black;
      }
    }

  }
}

.email-signup {
  background: rgba(0,0,0,.03);
  border: 1px solid rgba($orange,.08);
  padding: 1em;
  margin: 2em auto 4em;
  max-width: $large;

  &-form-header {
    margin: 0 0 1em;
  }
  input {
    width: 100%;
    font-size: 1.2em;
    padding: .5em;
    border: 0;
    outline: 0;
    margin-bottom: 1em;
    box-shadow: inset 0px 0px 3px  rgba($black, .7);
    background: rgba($orange, .05);
  }
  button {
    background-color: $orange;
    border: none;
    outline: none;
    color: $white;
    display: block;
    margin-top: .5em;
    padding: .75em 1em;
    // width: 250px;
    font-size: 1em;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: lighten($orange, 10%);
    }
  }
}


footer {
  max-width: $max-width;
  padding: 0 $gutter;
  margin: auto;
  padding-bottom: 3em;
  a {
    color: $orange;
    text-decoration: none;
  }
}
